.close{
    width: 80%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    
}
.address{
    width: 740px;
    height: 840px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px auto;
    overflow: auto;
    background: rgb(255, 255, 255);
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; 
}
.top{
    margin-left: 50px;
}     

.header{
    margin-top: 30px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;

}
.after {
    display: block;
    background: #ffd835;
    height: 3px;
    width: 100px;
    box-sizing: border-box;
}

.heading{
    font-size: 20px;
    font-family: montserrat-bold,sans-serif;
}
.address_form{
    padding: 30px 56px;
}
.city{
    display: flex;
    justify-content: space-between;
}
 
 input {
    width: 100%;
  padding: 10px;
    cursor: pointer;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  
}
.inputsdiv{
    width: 85%;
    justify-items: center;
    padding: 30px 56px;
}
.divider{
    margin-bottom: 30px;
    height: 1px;
    background-color: rgba(0,0,0,.12);
}
.city input{
    width: 49%;
    
}
.class1{
    padding-top: 0;
   color: rgba(0,0,0,.4);
}
.bottom{
    overflow-x: hidden;
    cursor: pointer;
    border-radius: 15px;
    margin: 9px 10px 0 0;
    align-items: center;
    display: inline-flex;
    box-sizing: border-box;
    height: 50px;
    vertical-align: middle;
    padding: 0%;
    border: 1px solid rgb(51, 49, 49);
}
.bottomdiv{
    display: flex;
    justify-items: center;
    width: 400px;
    padding-bottom: 45px;
    
}
.bottom:hover{
    border-color: #faeb19;
}
.bottom label{
    
    border-radius: 15px;
    font-size: 12px;
    font-family: montserrat,sans-serif;
    text-transform: uppercase;
    color: rgba(0,0,0,.4);
    cursor: pointer;
    font-weight: 700;
    
}
.bottom input{
    width: 0%;
}
#close{
    cursor: pointer;
}
.button{
    display: flex;
    text-align: center;
}
#save{
    position: relative;
    width: 238px;
    border-radius: 5px;
    background-color: #42a2a2;
    border: 1px solid #42a2a2;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    height: 48px;
}
#cancel{
    background-color: #fff;
    color: #42a2a2;
    margin-left: 20px;
    position: relative;
    width: 238px;
    border-radius: 5px;
    border: 1px solid #42a2a2;
    font-size: 16px;
    bottom: 0;
    left: 0;
    height: 48px;
}