*{
    margin:0px;
    padding:0px;
}
#box{
    display: flex;
}
#box>img{
    width: 150px;
    height: 150px;
}
#box{
    padding: 5%;
}

.slide>img{
    width:430px;
    height: 450px;
    cursor: pointer;
}.slides{
    display:flex;
    gap:30px
   
   
}#sliders{
    margin-top: 30px;
}