*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/***************                sliding style                ******************* */

.slide>img{
    width:430px;
    height: 450px;
    cursor: pointer;
}.slides{
    display:flex;
    gap:30px
}
   
#bestsellersWomen{
    height: auto;
    width: 98%;
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    overflow-x: auto;
}
.slider-prod{
    display: block;
    gap: 30px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}
.slideImg >img{
    width: 100%;
}
.price{
    display: flex;
    padding: 0 20px;
    gap: 10px;
    font-size: 20px
}
.price>div:nth-child(2){
    color: gray;
    font-size: 12px;
    margin-top: 4px;
    text-decoration: line-through;
    
}

.prev-btn,.next-btn{
    /* position: absolute; */
    text-align: center;
    color: rgb(169, 162, 162);
    width: 50px;
    height: 50px;
    border: 1px solid red;
    font-size: 40px;
    display: inline-block;
    cursor: pointer;
    margin-top: 8rem;
    
}

#prev-btn:hover, #next-btn:hover{
    background-color: white;
    opacity: 0.23;
    color: black;
}
#slide_cont{
    display: flex;

}





/* ****************               sliding style End            ******************** */
#beCrazy{
    margin-top: 50px;
    margin: auto;
    /* border: 1px solid red; */
}
#beCrazy > img{
    width: 100%;
}

#miniDiv{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

#miniDiv > div > img{
    width: 80%;
}

#popularCateg{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 7px;
}

#popularCateg>div>img{
    width: 100%;
}

#discount{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#discount>div>img{
    width: 100%;
}